h1 {
    color: peru;
}

.specificity {
    color: red;
}

h2 {
    color: green;
}

.title {
    color: orange;
}

.other-title {
    color: pink;
}

/* More Specificty Example */

.main-brand-3.title-3 {
    color: dodgerblue;
}

.title-3 {
    color: firebrick;
}

h5 {
    color: blueviolet !important;
}