/** Basics of Flexbox. It can be applied only on PARENT-CHILD Relationship */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    /* Declaring we are using Flexbox */
    display: flex;

    /* Then we set the flex direction and some behaviour */
    flex-flow: row nowrap; 

    justify-content: space-evenly;
}

li {
    border: 2px dotted blueviolet;
    flex-basis: 10%;
}