iframe {
    width: 400px;
    height: 400px;    
    border-radius: 1rem;
    border: 2px solid dodgerblue;
    box-shadow: 20px 20px 10px #888888;
}


img {
    border: 1px solid black;
    width: 180px;
    height: 180px;
}

h4 {
    height: 25px;
    border: 2px inset red;
    background-color: dodgerblue;
}